# Zadanie

1. To jest szablon zadania - wypełnij przed wysłaniem
2. Zadanie polega na opracowaniu bazy danych plikowej oraz konfiguracji środowiska (np. serwera mongodb w docker) i przedstawieniu wykonanej bazy.
3. Zaimplementuj w bazie plikowej swoją bazę z pierwszego zadania i wykonaj dla niej następujące zapytania:
 1.  Wykonaj podstawowe zapytania pokazujące wprowadzenie danych (3 x wyszukiwania pojedynczych wierszy).   {ocena 3.0-3.5}
 
 2. Dodaj wyszukiwania grup wierszy (lista wierszy; 3 x przykładowe zapytanie)    {ocena 3.5-4.0}
 3. Dodaj  wyliczania wartości dla zapytania (3 x przykładowe zapytanie wyliczające)    {ocena 4.0-4.5}
 4. Dodaj wyszukiwania z agregacją wyników (3 x przykładowe agregacje).   {ocena 4.5-5.0}
 5. Wpisz w ostatniej komórce notatnika swoje spostrzeżenia na temat: "Jak wypada porównanie bazy plikowej w odniesieniu do bazy relacyjnej na przykładzie mojej bazy danych z laboratorium?"

Opis:
-  Wykonaj bazę klucz plikową na podstawie swojego wcześniejszego (zad 1) modelu danych. Warto skorzystać z przygotowanej wcześniej bazy danych. Zastanów sie które rekordy z tamtej bazy danych warto wpisać we dokumentach, coś co wcześniej trzeba było łączyć poleceniem JOIN można teraz wpisać wspólnie w jednym dokuemncie. 
- W zapytaniach użyj podstawowych mechanizmów MongoDB: użyj sortowania, projekcji, poleceń limit i distinct.
- Wykonaj przynajmniej 12 zapytań do bazy (4 x 3 przykłady zapytań [A, B, C, D])

Polecenia:
 - oprogramuj zadanie,
 - prześlij wypełniony notatnik do naszego kursu online,
 - przedstaw działające zadanie na zajęciach laboratoryjnych,
 
- Nazwa pliku notatnika: zad4_nazwisko_imie.ipynb

## Opis rozwiązania (wypełnia student)

1. Autor: 
 - ...........................
2. temat bazy danych?
 1. ...........................

In [1]:
# niezbędne importy
import pandas as pd
import numpy as np
import datetime
from pymongo import MongoClient
import cx_Oracle
import datetime

In [2]:
# połączenie z mongo
client = MongoClient("mongodb://localhost:27017/")

In [3]:
# połączenie z bazą sql jeśli potrzebne
connection = cx_Oracle.connect(user="s108261", password="s108261",
                               dsn="217.173.198.135:1521/tpdb")
cursor = connection.cursor()

# Odwzorowanie bazy SQL w MongoDB

In [4]:
FactoriesDF = pd.read_sql("SELECT * FROM Factories",connection)
Safety_measurementsDF= pd.read_sql("SELECT * FROM Safety_measurements",connection)
StockDF = pd.read_sql("SELECT * FROM Stock",connection)
EmployeesDF = pd.read_sql("SELECT * FROM Employees",connection)
Environmental_costsDF = pd.read_sql("SELECT * FROM Environmental_costs",connection)
PartsDF = pd.read_sql("SELECT * FROM Parts",connection)
Production_planDF = pd.read_sql("SELECT * FROM Production_plan",connection)
SalaryDF = pd.read_sql("SELECT * FROM Salary",connection)
SalesDF = pd.read_sql("SELECT * FROM Sales",connection)
ShiftsDF = pd.read_sql("SELECT * FROM Shifts",connection)
SKUDF = pd.read_sql("SELECT * FROM SKU",connection)
SKU_PartsDF = pd.read_sql("SELECT * FROM SKU_Parts",connection)
SuppliersDF = pd.read_sql("SELECT * FROM Suppliers",connection)
TaxesDF = pd.read_sql("SELECT * FROM Taxes",connection)
Total_costsDF = pd.read_sql("SELECT * FROM Total_costs",connection)

In [8]:
FactoryDB = client["Factory"]
##########################################################
Factories = FactoryDB["FactoryCollection"]
FactoriesDoc = FactoriesDF.to_dict(orient = "records")
for x in FactoriesDoc:
    x["_id"] = x.pop('FACTORY_ID')
Factories.insert_many(FactoriesDoc)
##########################################################
Stock = FactoryDB["StockCollection"]
StockDoc = StockDF.to_dict(orient = "records")
for x in StockDoc:
    x["_id"] = x.pop('SERIALNUMBER_ID')
Stock.insert_many(StockDoc)
##########################################################
Employees = FactoryDB["EmployeesCollection"]
EmployeesDoc = EmployeesDF.to_dict(orient = "records")
for x in EmployeesDoc:
    x["_id"] = x.pop('EMPLOYEE_ID')    
Employees.insert_many(EmployeesDoc)
##########################################################
Parts = FactoryDB["PartsCollection"]
PartsDoc = PartsDF.to_dict(orient = "records")
for x in PartsDoc:
    x["_id"] = x.pop('PART_ID')    
Parts.insert_many(PartsDoc)
##########################################################
Safety_Measurements = FactoryDB["Safety_MeasurementsCollection"]
Safety_MeasurementsDoc = Safety_measurementsDF.to_dict(orient = "records")
for x in Safety_MeasurementsDoc:
    x["_id"] = x.pop('S_MEASURE_ID')    
Safety_Measurements.insert_many(Safety_MeasurementsDoc)
##########################################################
Salary = FactoryDB["SalaryCollection"]
SalaryDoc = SalaryDF.to_dict(orient = "records")
for x in SalaryDoc:
    x["_id"] = x.pop('ID')    
Salary.insert_many(SalaryDoc)
##########################################################
Sales = FactoryDB["SalesCollection"]
SalesDoc = SalesDF.to_dict(orient = "records")
for x in SalesDoc:
    x["_id"] = x.pop('ID')
Sales.insert_many(SalesDoc)
##########################################################
Shifts = FactoryDB["ShiftsCollection"]
ShiftsDoc = ShiftsDF.to_dict(orient = "records")
for x in ShiftsDoc:
    x["_id"] = x.pop('SHIFT_ID')    
Shifts.insert_many(ShiftsDoc)
##########################################################
SKU = FactoryDB["SKUCollection"]
SKUDF["WITHDRAWAL_DATE"] = SKUDF["WITHDRAWAL_DATE"].replace({pd.NaT: None})
SKUDoc = SKUDF.to_dict(orient = "records")
for x in SKUDoc:
    x["_id"] = x.pop('SKU_ID')    
SKU.insert_many(SKUDoc)
##########################################################
SKU_Parts = FactoryDB["SKU_PartsCollection"]
SKU_PartsDoc = SKU_PartsDF.to_dict(orient = "records")
for x in SKU_PartsDoc:
    x["_id"] = x.pop('ID')
SKU_Parts.insert_many(SKU_PartsDoc)
##########################################################
Suppliers = FactoryDB["SuppliersCollection"]
SuppliersDoc = SuppliersDF.to_dict(orient = "records")
for x in SuppliersDoc:
    x["_id"] = x.pop('SUPP_ID')    
Suppliers.insert_many(SuppliersDoc)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150], acknowledged=True)

# Querys

## Single value querys - zadanie A

In [9]:
Factories.find_one({"_id": 28})

{'_id': 28,
 'NAME': 'Schistostega Moss',
 'COUNTRY': 'Poland',
 'POSTAL_CODE': '37-303',
 'CITY': 'Kuryłówka'}

In [10]:
Employees.find_one({"_id": 90})

{'_id': 90,
 'NAME': 'Halley',
 'SURNAME': 'Charlick',
 'POSITION': 'operator',
 'ASSIGNED_SHIFT_ID': 7,
 'FACTORY_ID': 28}

In [11]:
Parts.find_one({"NAME": "Glass"})

{'_id': 3, 'NAME': 'Glass', 'COST': 631.07, 'SUPP_ID': 127}

## List of objects querys - zadanie B

In [12]:
pd.DataFrame(Stock.find( { 'SERIALNUMBER': {"$regex": "^ZH"}}))

   _id       SERIALNUMBER PRODUCTION_DATE  FACTORY_ID  SKU_ID  S_MEASURE_ID
0  160  ZHWGU5BZ1CL316738      2020-05-21          53      74             6
1  547  ZHWGU5BZ6CL656824      2020-10-30          74      11           140
2  645  ZHWGU5BR9EL938037      2020-06-26          34      29           670

In [13]:
pd.DataFrame(Sales.find( { "$expr": { "$gt": [ "$INCOME" , 4000 ] } } ))

     _id  YEAR      MONTH   INCOME  FACTORY_ID
0      1  2018       June  4064.90         100
1      2  2021   November  8194.56          85
2      4  2018     August  7087.10          53
3      6  2023       June  6787.37          77
4      8  2023      March  5555.86          11
..   ...   ...        ...      ...         ...
130  194  2023   December  6368.01          60
131  196  2021  September  9967.93          34
132  198  2020    October  9361.87          79
133  199  2023        May  4940.86          98
134  200  2018       July  9189.04          53

[135 rows x 5 columns]

In [14]:
for x in Safety_Measurements.find({ "$expr": { "$gt": [ "$ACCEPTANCE_DATE" , datetime.datetime(2024, 10, 18, 0, 0) ] } }):
    print(x)

{'_id': 45, 'COLLISION_TEST': 6, 'SAFETY_CLASS': 9, 'BODY_DURABILITY': 0.69, 'BRAKES_EFFICIENCE': 0.64, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 20, 0, 0)}
{'_id': 67, 'COLLISION_TEST': 4, 'SAFETY_CLASS': 5, 'BODY_DURABILITY': 0.55, 'BRAKES_EFFICIENCE': 0.79, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 21, 0, 0)}
{'_id': 77, 'COLLISION_TEST': 8, 'SAFETY_CLASS': 8, 'BODY_DURABILITY': 0.02, 'BRAKES_EFFICIENCE': 0.11, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 24, 0, 0)}
{'_id': 300, 'COLLISION_TEST': 3, 'SAFETY_CLASS': 8, 'BODY_DURABILITY': 0.74, 'BRAKES_EFFICIENCE': 0.78, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 27, 0, 0)}
{'_id': 414, 'COLLISION_TEST': 3, 'SAFETY_CLASS': 6, 'BODY_DURABILITY': 0.63, 'BRAKES_EFFICIENCE': 0.19, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 29, 0, 0)}
{'_id': 452, 'COLLISION_TEST': 1, 'SAFETY_CLASS': 7, 'BODY_DURABILITY': 0.91, 'BRAKES_EFFICIENCE': 0.28, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 26, 0, 0)}

## Calculation and grouping query - zadanie C i D

In [15]:
pipeline = [
    {"$match": {"YEAR": 2020}},
    {"$group": {"_id": "$FACTORY_ID", "total_income": {"$sum": "$INCOME"}}}
]

result = list(Sales.aggregate(pipeline))

df = pd.DataFrame(result)
df.rename(columns={"_id": "FACTORY_ID"}, inplace=True)
print(df)

    FACTORY_ID  total_income
0            1      19027.68
1           83       5969.18
2           25      14927.91
3           55       9603.61
4           24       9847.15
5           99      12044.37
6           81      12876.93
7           84       7916.84
8           39       5161.32
9           45       4821.08
10          32       1091.18
11          70       9879.20
12          61       9934.36
13           5       2672.41
14          20      10233.56
15          13       7640.05
16          98       3156.23
17          97       8394.63
18           9       3034.90
19          79       9361.87
20          18       4480.40
21          44       6648.42
22          50       1236.68
23          37       8850.09
24         100       1568.79
25          30       8660.00
26          87       1608.08
27          57       7853.94
28          19       2575.24
29          15      14172.98
30          59       5595.56
31          35       9119.47
32          16       4747.20
33          29       6803.90

In [16]:
pipeline = [
    {"$match": { "$expr": { "$gt": [ "$PRODUCTION_DATE" , datetime.datetime(2023, 10, 18, 0, 0) ] } }}
]

result = list(Stock.aggregate(pipeline))

df = pd.DataFrame(result)
df.rename(columns={"_id": "FACTORY_ID"}, inplace=True)
print(df)

    FACTORY_ID       SERIALNUMBER PRODUCTION_DATE  FACTORY_ID  SKU_ID  \
0            2  WAULFAFR3BA954663      2023-12-03          18      90
1           15  2T1BURHE7FC517814      2023-12-10          28       9
2           32  WAUPEAFM5BA740203      2023-12-18          19      69
3           37  WAUBGAFC9CN197945      2023-12-02          53      63
4           40  JN8AF5MV8FT400079      2023-12-07           5      88
5           49  19UYA42523A410413      2023-11-14          77      84
6           54  5GAKRBKD8FJ953750      2024-01-10          17      47
7           63  WAUAFAFH5DN808436      2023-12-13          40      14
8           80  2C3CDXFG1EH664426      2024-01-13          19      23
9           86  5LMJJ3H53DE514493      2023-10-19          80      46
10          87  WBASN0C5XDD890469      2023-12-10          30      33
11         113  WBA3C1C59FP369213      2023-11-02          66      72
12         137  1G6AK5S39D0846848      2024-01-07         100       5
13         164  JTDKDTB36C1580813      2023-11-28          45      22
14         670  YV1902FH6B2556010      2023-11-22          97      93
15         171  JTHBL5EF7C5922507      2023-10-30          92      14
16         178  1G6AB5S39D0673686      2024-01-12          91      94
17         214  19VDE3F75EE333116      2023-11-12          24      90
18         245  WP0CB2A81CS577068      2023-10-20          67      54
19         258  1G4PP5SKXD4643424      2023-11-20          29      55
20         265  1GYS4AKJ5FR484383      2023-12-02          66      59
21         266  JN1CV6EK7EM347226      2024-01-05          19      70
22         268  JTDKN3DU1B0209873      2023-11-22          76      79
23         288  WBAEW53433P869779      2023-11-19          21       5
24         301  SAJWA6AT5F8967038      2023-12-12           8      29
25         313  WAUFMAFC5EN235958      2023-11-13          78      82
26         338  1HGCR6F5XEA729490      2023-11-25          70      36
27         361  JTDKN3DP6F3857479      2023-12-06           7      52
28         378  2G4WF551321230528      2023-11-19          13      68
29         382  1G6DB8E52E0954516      2023-12-13          98      89
30         385  1N4AA5AP1CC235316      2023-11-13          76      85
31         390  JH4DC43591S309140      2023-10-28          15      51
32         429  WAURVAFA4AN347704      2023-12-17          63      15
33         440  5N1AR2MM5EC607709      2024-01-13          77      36
34         455  1GYS3DEF3ER630404      2023-10-26           6       6
35         505  5BZAF0AA3FN461876      2024-01-02           6      30
36         508  1D7CW2GK4AS352878      2023-10-29          87      89
37         512  1N6AA0CH4EN084804      2023-11-23          67      85
38         513  WA1AY94L98D066079      2023-11-19          97      65
39         535  2G4GS5EV0C9150674      2023-11-30           7      70
40         539  JM1GJ1T55E1336933      2023-11-28          26      87
41         572  1G4GB5EG2AF981356      2023-12-25          89      73
42         612  KMHGC4DE3AU186870      2023-12-25          32      85

    S_MEASURE_ID
0            411
1            313
2            559
3            268
4            288
5            409
6            199
7            580
8            396
9            236
10           420
11           690
12           568
13           592
14           587
15            31
16           450
17           173
18           511
19           332
20           637
21           649
22           487
23           162
24           556
25           520
26           522
27           102
28           156
29           176
30           608
31           130
32           236
33           327
34           364
35           619
36           365
37           155
38           591
39           115
40           562
41           248
42           181

In [17]:
pipeline = [
    {"$group": {"_id": "$SUPP_ID", "Absolute_Cost": {"$sum": "$COST"}}}  # Sumuj pole INCOME
]

result = list(Parts.aggregate(pipeline))

df = pd.DataFrame(result)
df.rename(columns={"_id": "SUPP_ID"}, inplace=True)
print(df)

     SUPP_ID  Absolute_Cost
0         69         714.10
1         21         649.24
2         17        1169.74
3          8        1529.49
4        138        3073.10
..       ...            ...
142      107        1290.73
143      135        2850.80
144        7        1403.88
145        1        3220.01
146       63          99.06

[147 rows x 2 columns]

In [18]:
pipeline = [
    {"$match": { "SURNAME": { "$regex": "^C" }}},
    {"$group": {"_id": "$ASSIGNED_SHIFT_ID", "Number of workers": {"$sum": 1} }}
]

result = list(Employees.aggregate(pipeline))

df = pd.DataFrame(result)
df.rename(columns={"_id": "ASSIGNED_SHIFT_ID"}, inplace=True)
print(df)

    ASSIGNED_SHIFT_ID  Number of workers
0                  14                  4
1                  23                  2
2                  28                  3
3                  29                  1
4                  30                  4
5                   1                  6
6                  25                  3
7                   2                  5
8                   7                  1
9                  15                  2
10                 12                  1
11                  4                  2
12                 19                  2
13                  3                  1
14                 16                  3
15                 10                  2
16                  5                  5
17                 20                  3
18                 13                  1
19                 11                  2
20                  8                  1
21                 17                  1
22                  9                  1
23                 27                  3
24                 21                  3
25                 18                  3

In [19]:
client.list_database_names()
client.drop_database("Factory")

### "Jak wypada porównanie bazy plikowej w odniesieniu do bazy relacyjnej na przykładzie mojej bazy danych z laboratorium?"

Odpowiedź: 
Na pewno baza plikowa wydaje się być dużo bardziej elastyczna w sytuacji, kiedy nie potrzebujemy skomplikowanych relacji.
Jednakże w tej sytuacji, kiedy baza danych została zdefiniowana dla fabryki, gdzie relacje są niezbędne, pozostałbym przy relacyjnej bazie danych.

Redisa wykorzystałbym do zwracania najczęściej wykonywanych zapytań, a MongoDB do np. zapisywania informacji o klientach, zakupionych sprzętach itp.

Kiedyś myślałem, że nierelacyjne bazy danych nie mają wielu zastosowań, ale miło się zaskoczyłem.