In [1]:
import pandas as pd
import numpy as np
import datetime
from pymongo import MongoClient
import cx_Oracle
import datetime

In [2]:
# połączenie z bazą
connection = cx_Oracle.connect(user="s108261", password="s108261",
                               dsn="217.173.198.135:1521/tpdb")
cursor = connection.cursor()

In [3]:
#client = MongoClient('localhost', 27017)  # alternatywa
client = MongoClient("mongodb://localhost:27017/")

In [ ]:
## Example - Mongo does not create a database without collection

appdb = client["blog"]
appcoll = appdb["blogcollection"]
document = {"user_id": 1, "user": "test"}
appcoll.insert_one(document)

In [4]:
## Retrieving data from Oracle into DataFrame

FactoriesDF = pd.read_sql("SELECT * FROM Factories",connection)
Safety_measurementsDF= pd.read_sql("SELECT * FROM Safety_measurements",connection)
StockDF = pd.read_sql("SELECT * FROM Stock",connection)
EmployeesDF = pd.read_sql("SELECT * FROM Employees",connection)
Environmental_costsDF = pd.read_sql("SELECT * FROM Environmental_costs",connection)
PartsDF = pd.read_sql("SELECT * FROM Parts",connection)
Production_planDF = pd.read_sql("SELECT * FROM Production_plan",connection)
SalaryDF = pd.read_sql("SELECT * FROM Salary",connection)
SalesDF = pd.read_sql("SELECT * FROM Sales",connection)
ShiftsDF = pd.read_sql("SELECT * FROM Shifts",connection)
SKUDF = pd.read_sql("SELECT * FROM SKU",connection)
SKU_PartsDF = pd.read_sql("SELECT * FROM SKU_Parts",connection)
SuppliersDF = pd.read_sql("SELECT * FROM Suppliers",connection)
TaxesDF = pd.read_sql("SELECT * FROM Taxes",connection)
Total_costsDF = pd.read_sql("SELECT * FROM Total_costs",connection)

# Reflecting data in MongoDB

In [5]:
FactoryDB = client["Factory"]

In [6]:
Factories = FactoryDB["FactoryCollection"]
#############################
FactoriesDoc = FactoriesDF.to_dict(orient = "records")
for x in FactoriesDoc:
    x["_id"] = x.pop('FACTORY_ID')

Factories.insert_many(FactoriesDoc)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100], acknowledged=True)

In [ ]:
Factories = FactoryDB["FactoryCollection"]
#############################
FactoriesDoc = FactoriesDF.to_dict(orient = "records")
for x in FactoriesDoc:
    x["_id"] = x.pop('FACTORY_ID')
#############################    
Factories.insert_many(FactoriesDoc)

In [22]:
Stock = FactoryDB["StockCollection"]
#############################
StockDoc = StockDF.to_dict(orient = "records")
for x in StockDoc:
    x["_id"] = x.pop('SERIALNUMBER_ID')
#############################    
Stock.insert_many(StockDoc)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648], acknowledged=True)

In [14]:
Employees = FactoryDB["EmployeesCollection"]
#############################
EmployeesDoc = EmployeesDF.to_dict(orient = "records")
for x in EmployeesDoc:
    x["_id"] = x.pop('EMPLOYEE_ID')
#############################    
Employees.insert_many(EmployeesDoc)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600], acknowledged=True)

In [65]:
Parts = FactoryDB["PartsCollection"]
#############################
PartsDoc = PartsDF.to_dict(orient = "records")
for x in PartsDoc:
    x["_id"] = x.pop('PART_ID')
#############################    
Parts.insert_many(PartsDoc)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600], acknowledged=True)

In [ ]:
Environmental_Costs = FactoryDB["Environmental_CostsCollection"]
#############################
Environmental_CostsDoc = Environmental_costsDF.to_dict(orient = "records")
'''
for x in Environmental_costsDoc:
    x["_id"] = x.pop('FACTORY_ID')

'''
#############################    
#Environmental_Costs.insert_many(Environmental_CostsDoc)
#Emply tabel

In [ ]:
Production_Plan = FactoryDB["Production_PlanCollection"]
#############################
Production_PlanDoc = Production_planDF.to_dict(orient = "records")
'''
for x in Production_PlanDoc:
    x["_id"] = x.pop('FACTORY_ID')

'''
#############################    
#Environmental_Costs

In [28]:
Safety_Measurements = FactoryDB["Safety_MeasurementsCollection"]
#############################
Safety_MeasurementsDoc = Safety_measurementsDF.to_dict(orient = "records")
for x in Safety_MeasurementsDoc:
    x["_id"] = x.pop('S_MEASURE_ID')
#############################    
Safety_Measurements.insert_many(Safety_MeasurementsDoc)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695], acknowledged=True)

In [ ]:
Salary = FactoryDB["SalaryCollection"]
#############################
SalaryDoc = SalaryDF.to_dict(orient = "records")
for x in SalaryDoc:
    x["_id"] = x.pop('ID')
#############################    
Salary.insert_many(SalaryDoc)

In [8]:
Sales = FactoryDB["SalesCollection"]
#############################
SalesDoc = SalesDF.to_dict(orient = "records")
for x in SalesDoc:
    x["_id"] = x.pop('ID')
#############################    
Sales.insert_many(SalesDoc)

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200], acknowledged=True)

In [ ]:
Shifts = FactoryDB["ShiftsCollection"]
#############################
ShiftsDoc = ShiftsDF.to_dict(orient = "records")
for x in ShiftsDoc:
    x["_id"] = x.pop('SHIFT_ID')
#############################    
Shifts.insert_many(ShiftsDoc)

In [ ]:
SKU = FactoryDB["SKUCollection"]
#############################
SKUDF["WITHDRAWAL_DATE"] = SKUDF["WITHDRAWAL_DATE"].replace({pd.NaT: None})
SKUDoc = SKUDF.to_dict(orient = "records")
for x in SKUDoc:
    x["_id"] = x.pop('SKU_ID')
#############################    
SKU.insert_many(SKUDoc)

In [ ]:
SKU_Parts = FactoryDB["SKU_PartsCollection"]
#############################
SKU_PartsDoc = SKU_PartsDF.to_dict(orient = "records")
for x in SKU_PartsDoc:
    x["_id"] = x.pop('ID')
#############################    
SKU_Parts.insert_many(SKU_PartsDoc)

In [ ]:
Suppliers = FactoryDB["SuppliersCollection"]
#############################
SuppliersDoc = SuppliersDF.to_dict(orient = "records")
for x in SuppliersDoc:
    x["_id"] = x.pop('SUPP_ID')
#############################    
Suppliers.insert_many(SuppliersDoc)

In [ ]:
Taxes = FactoryDB["TaxesCollection"]
#############################
TaxesDoc = TaxesDF.to_dict(orient = "records")
'''
for x in Production_PlanDoc:
    x["_id"] = x.pop('FACTORY_ID')

'''
#############################    
#Taxes

In [ ]:
Total_Costs = FactoryDB["Total_CostsCollection"]
#############################
Total_CostsDoc = Total_costsDF.to_dict(orient = "records")
'''
for x in Production_PlanDoc:
    x["_id"] = x.pop('FACTORY_ID')

'''
#############################    
#Total_Costs

# Querys

## Single value query

In [19]:
Factories.find_one({"_id": 28})

{'_id': 28,
 'NAME': 'Schistostega Moss',
 'COUNTRY': 'Poland',
 'POSTAL_CODE': '37-303',
 'CITY': 'Kuryłówka'}

In [18]:
Employees.find_one({"_id": 90})

{'_id': 90,
 'NAME': 'Halley',
 'SURNAME': 'Charlick',
 'POSITION': 'operator',
 'ASSIGNED_SHIFT_ID': 7,
 'FACTORY_ID': 28}

In [79]:
Parts.find_one({"NAME": "Glass"})

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

{'_id': 3, 'NAME': 'Glass', 'COST': 631.07, 'SUPP_ID': 127}

## List of objects query

In [27]:
pd.DataFrame(Stock.find( { 'SERIALNUMBER': {"$regex": "^ZH"}}))

   _id       SERIALNUMBER PRODUCTION_DATE  FACTORY_ID  SKU_ID  S_MEASURE_ID
0  160  ZHWGU5BZ1CL316738      2020-05-21          53      74             6
1  547  ZHWGU5BZ6CL656824      2020-10-30          74      11           140
2  645  ZHWGU5BR9EL938037      2020-06-26          34      29           670

In [9]:
pd.DataFrame(Sales.find( { "$expr": { "$gt": [ "$INCOME" , 4000 ] } } ))

     _id  YEAR      MONTH   INCOME  FACTORY_ID
0      1  2018       June  4064.90         100
1      2  2021   November  8194.56          85
2      4  2018     August  7087.10          53
3      6  2023       June  6787.37          77
4      8  2023      March  5555.86          11
..   ...   ...        ...      ...         ...
130  194  2023   December  6368.01          60
131  196  2021  September  9967.93          34
132  198  2020    October  9361.87          79
133  199  2023        May  4940.86          98
134  200  2018       July  9189.04          53

[135 rows x 5 columns]

In [41]:
for x in Safety_Measurements.find({ "$expr": { "$gt": [ "$ACCEPTANCE_DATE" , datetime.datetime(2024, 10, 18, 0, 0) ] } }):
    print(x)

{'_id': 45, 'COLLISION_TEST': 6, 'SAFETY_CLASS': 9, 'BODY_DURABILITY': 0.69, 'BRAKES_EFFICIENCE': 0.64, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 20, 0, 0)}
{'_id': 67, 'COLLISION_TEST': 4, 'SAFETY_CLASS': 5, 'BODY_DURABILITY': 0.55, 'BRAKES_EFFICIENCE': 0.79, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 21, 0, 0)}
{'_id': 77, 'COLLISION_TEST': 8, 'SAFETY_CLASS': 8, 'BODY_DURABILITY': 0.02, 'BRAKES_EFFICIENCE': 0.11, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 24, 0, 0)}
{'_id': 300, 'COLLISION_TEST': 3, 'SAFETY_CLASS': 8, 'BODY_DURABILITY': 0.74, 'BRAKES_EFFICIENCE': 0.78, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 27, 0, 0)}
{'_id': 414, 'COLLISION_TEST': 3, 'SAFETY_CLASS': 6, 'BODY_DURABILITY': 0.63, 'BRAKES_EFFICIENCE': 0.19, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 29, 0, 0)}
{'_id': 452, 'COLLISION_TEST': 1, 'SAFETY_CLASS': 7, 'BODY_DURABILITY': 0.91, 'BRAKES_EFFICIENCE': 0.28, 'ACCEPTANCE_DATE': datetime.datetime(2024, 10, 26, 0, 0)}

## Calculation and grouping query

In [58]:
pipeline = [
    {"$match": {"YEAR": 2020}},  # Filtruj po YEAR i FACTORY_ID
    {"$group": {"_id": "$FACTORY_ID", "total_income": {"$sum": "$INCOME"}}}  # Sumuj pole INCOME
]

result = list(Sales.aggregate(pipeline))

df = pd.DataFrame(result)
df.rename(columns={"_id": "FACTORY_ID"}, inplace=True)
print(df)

    FACTORY_ID  total_income
0           83       5969.18
1           25      14927.91
2           29       6803.90
3           16       4747.20
4           35       9119.47
5           19       2575.24
6           15      14172.98
7           57       7853.94
8           59       5595.56
9           37       8850.09
10          50       1236.68
11          87       1608.08
12         100       1568.79
13          30       8660.00
14           9       3034.90
15          97       8394.63
16          79       9361.87
17          18       4480.40
18          44       6648.42
19          61       9934.36
20          45       4821.08
21          70       9879.20
22          13       7640.05
23          20      10233.56
24           5       2672.41
25          98       3156.23
26          24       9847.15
27          39       5161.32
28          32       1091.18
29          99      12044.37
30          81      12876.93
31          84       7916.84
32          55       9603.61
33           1      19027.68

In [63]:
pipeline = [
    {"$match": { "$expr": { "$gt": [ "$PRODUCTION_DATE" , datetime.datetime(2023, 10, 18, 0, 0) ] } }}
]

result = list(Stock.aggregate(pipeline))

df = pd.DataFrame(result)
df.rename(columns={"_id": "FACTORY_ID"}, inplace=True)
print(df)

    FACTORY_ID       SERIALNUMBER PRODUCTION_DATE  FACTORY_ID  SKU_ID  \
0            2  WAULFAFR3BA954663      2023-12-03          18      90
1           15  2T1BURHE7FC517814      2023-12-10          28       9
2           32  WAUPEAFM5BA740203      2023-12-18          19      69
3           37  WAUBGAFC9CN197945      2023-12-02          53      63
4           40  JN8AF5MV8FT400079      2023-12-07           5      88
5           49  19UYA42523A410413      2023-11-14          77      84
6           54  5GAKRBKD8FJ953750      2024-01-10          17      47
7           63  WAUAFAFH5DN808436      2023-12-13          40      14
8           80  2C3CDXFG1EH664426      2024-01-13          19      23
9           86  5LMJJ3H53DE514493      2023-10-19          80      46
10          87  WBASN0C5XDD890469      2023-12-10          30      33
11         113  WBA3C1C59FP369213      2023-11-02          66      72
12         137  1G6AK5S39D0846848      2024-01-07         100       5
13         164  JTDKDTB36C1580813      2023-11-28          45      22
14         670  YV1902FH6B2556010      2023-11-22          97      93
15         171  JTHBL5EF7C5922507      2023-10-30          92      14
16         178  1G6AB5S39D0673686      2024-01-12          91      94
17         214  19VDE3F75EE333116      2023-11-12          24      90
18         245  WP0CB2A81CS577068      2023-10-20          67      54
19         258  1G4PP5SKXD4643424      2023-11-20          29      55
20         265  1GYS4AKJ5FR484383      2023-12-02          66      59
21         266  JN1CV6EK7EM347226      2024-01-05          19      70
22         268  JTDKN3DU1B0209873      2023-11-22          76      79
23         288  WBAEW53433P869779      2023-11-19          21       5
24         301  SAJWA6AT5F8967038      2023-12-12           8      29
25         313  WAUFMAFC5EN235958      2023-11-13          78      82
26         338  1HGCR6F5XEA729490      2023-11-25          70      36
27         361  JTDKN3DP6F3857479      2023-12-06           7      52
28         378  2G4WF551321230528      2023-11-19          13      68
29         382  1G6DB8E52E0954516      2023-12-13          98      89
30         385  1N4AA5AP1CC235316      2023-11-13          76      85
31         390  JH4DC43591S309140      2023-10-28          15      51
32         429  WAURVAFA4AN347704      2023-12-17          63      15
33         440  5N1AR2MM5EC607709      2024-01-13          77      36
34         455  1GYS3DEF3ER630404      2023-10-26           6       6
35         505  5BZAF0AA3FN461876      2024-01-02           6      30
36         508  1D7CW2GK4AS352878      2023-10-29          87      89
37         512  1N6AA0CH4EN084804      2023-11-23          67      85
38         513  WA1AY94L98D066079      2023-11-19          97      65
39         535  2G4GS5EV0C9150674      2023-11-30           7      70
40         539  JM1GJ1T55E1336933      2023-11-28          26      87
41         572  1G4GB5EG2AF981356      2023-12-25          89      73
42         612  KMHGC4DE3AU186870      2023-12-25          32      85

    S_MEASURE_ID
0            411
1            313
2            559
3            268
4            288
5            409
6            199
7            580
8            396
9            236
10           420
11           690
12           568
13           592
14           587
15            31
16           450
17           173
18           511
19           332
20           637
21           649
22           487
23           162
24           556
25           520
26           522
27           102
28           156
29           176
30           608
31           130
32           236
33           327
34           364
35           619
36           365
37           155
38           591
39           115
40           562
41           248
42           181

In [78]:
pipeline = [
    {"$group": {"_id": "$SUPP_ID", "Absolute_Cost": {"$sum": "$COST"}}}  # Sumuj pole INCOME
]

result = list(Parts.aggregate(pipeline))

df = pd.DataFrame(result)
df.rename(columns={"_id": "SUPP_ID"}, inplace=True)
print(df)

     SUPP_ID  Absolute_Cost
0        147        1060.47
1         89        1675.56
2         96         862.66
3          4        1386.17
4        120         914.03
..       ...            ...
142       97        3642.59
143       98        1549.61
144       13        2502.22
145       47         629.64
146       45         527.70

[147 rows x 2 columns]

In [77]:
pipeline = [
    {"$match": { "SURNAME": { "$regex": "^C" }}},
    {"$group": {"_id": "$ASSIGNED_SHIFT_ID", "Number of workers": {"$sum": 1} }}
]

result = list(Employees.aggregate(pipeline))

df = pd.DataFrame(result)
df.rename(columns={"_id": "ASSIGNED_SHIFT_ID"}, inplace=True)
print(df)

    ASSIGNED_SHIFT_ID  Number of workers
0                  30                  4
1                   1                  6
2                  25                  3
3                   9                  1
4                   8                  1
5                  18                  3
6                  17                  1
7                  27                  3
8                  10                  2
9                  16                  3
10                 21                  3
11                 29                  1
12                 11                  2
13                 13                  1
14                  5                  5
15                 12                  1
16                  7                  1
17                 15                  2
18                 20                  3
19                  3                  1
20                 19                  2
21                  4                  2
22                 23                  2
23                 14                  4
24                 28                  3
25                  2                  5

In [80]:
client.list_database_names()
client.drop_database("Factory")